@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.hero-container{
    @include flex(normal, normal, column);
    gap: $space-2;
    padding: $space-4;
    &__heading{
        font-weight: $font-weight-semibold;
    }

    &__title{
        font-family: $font-display;
        line-height: 1.42;
        letter-spacing: 0;
        word-spacing: -10px;
    }

    &__description{

    }
}

.cake-container{
    position:relative;
    height: 180px;
    @include flex();

    &__cake-image{
        z-index: 10;
    }
}